<configuration>
  <system.webServer>
   <httpErrors errorMode="Detailed" />
    
    <!-- indicates that the index.php file is a node.js application 
    to be handled by the iisnode module -->
    
    <handlers>
      <add name="iisnode" path="index.php" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- adds index.php to the default document list to allow 
    URLs that only specify the application root location, 
    e.g. http://mysite.antarescloud.com/ -->
    
    <defaultDocument enabled="true">
      <files>
        <add value="index.php" />
      </files>
      
    </defaultDocument>
    
  </system.webServer>
   <system.web>
        <customErrors mode="Off"/>
        <compilation debug="true"/>
    </system.web>
</configuration>
